<!DOCTYPE html>
<html>
	<head>
		<title>Travel Share</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><a href="/"><i class="coffee icon"></i>  Travel Share</a></div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Blog</a>
			</div>
			<div class="right item">
				<div class="ui action input">
					<input type="text" placeholder="Navigate to...">
					<div class="ui button orange">Go</div>
				</div>
			</div>
		</div>
						